# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl
*.tfvars
!*.tfvars.example
override.tf
override.tf.json

# AWS credentials / secrets
.env
*.pem
*.key
credentials

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/