aws_region = "ap-south-1"
project    = "be13"
owner      = "mehedi"

# Optional overrides
# instance_type             = "t3.micro"
# asg_desired               = 2
# asg_min                   = 2
# asg_max                   = 4
# health_check_grace_period = 180
